
<mat-card class="example-card" width="200px">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <mat-icon>analytics</mat-icon></div>
      <mat-card-title>Heart Disease</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRo1laX-qOSXJ-D7wpd4i9Rv_GeHUwbYL-e8g2iisf3RI4Uphtdiog7Fcp744Qiikmjm6M&usqp=CAU"  width="400px" height="225px">
    <mat-card-content>
        <br>
      <p>
        Name - {{person}}
        <br>
        Observation - {{heart}}
      </p>
    </mat-card-content>
  </mat-card>
  
