
<mat-card class="example-card" width="200px">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><mat-icon>analytics</mat-icon></div>
      <mat-card-title>COVID-19</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://media.istockphoto.com/id/1224440871/vector/monochrome-black-and-white-coronavirus-sketch-line-art-vector.jpg?s=170667a&w=0&k=20&c=o-O7nei9LH_BdJhCYzNADxu35GPsoiCzR7jhoARjnnk="  width="400px" height="225px">
    <mat-card-content>
        <br>
      <p>
        Name - {{person}}
        <br>
        Observation - {{covid}}
      </p>
    </mat-card-content>
  </mat-card>
  
